<div class="navbar-area">
    <div class="mobile-nav">
        <!-- assets/img/logo/logo1.png -->
        <a routerLink="/" class="logo"><img src="" alt="Logo"></a>
    </div>
    
    <div class="main-nav">
        <div class="container-fluid">
            <nav class="container-max navbar navbar-expand-md navbar-light ">
                <!-- assets/img/logo/logo1.png -->
                <a class="navbar-brand" routerLink="/"><img src="" alt="Logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Home </a>

                            <ul class="dropdown-menu">
                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <!-- <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active">Home One </a></li> -->

                                    somthing here
                            </ul>
                        </li>

                        <!-- [routerLinkActiveOptions]="{exact: true}" -->
                        <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active">About</a></li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Pages <i class='bx bx-plus'></i></a>

                            <ul class="dropdown-menu">
                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/team" class="nav-link" routerLinkActive="active">Team</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/pricing" class="nav-link" routerLinkActive="active">Pricing</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/category" class="nav-link" routerLinkActive="active">Category</a></li>

                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="nav-link">Shop <i class='bx bx-plus'></i></a>

                                    <ul class="dropdown-menu">
                                        <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                        <li class="nav-item"><a routerLink="/shop" class="nav-link" routerLinkActive="active">Shop</a></li>

                                        <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                        <li class="nav-item"><a routerLink="/cart" class="nav-link" routerLinkActive="active">Cart</a></li>

                                        <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                        <li class="nav-item"><a routerLink="/checkout" class="nav-link" routerLinkActive="active">Checkout</a></li>

                                        <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                        <li class="nav-item"><a routerLink="/products-details" class="nav-link" routerLinkActive="active">Products Details</a></li>
                                    </ul>
                                </li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/faq" class="nav-link" routerLinkActive="active">FAQ</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/testimonials" class="nav-link" routerLinkActive="active">Testimonials</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/error" class="nav-link" routerLinkActive="active">404 Error</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/login-register" class="nav-link" routerLinkActive="active">Login/Register</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/terms-condition" class="nav-link" routerLinkActive="active">Terms & Conditions</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/privacy-policy" class="nav-link" routerLinkActive="active">Privacy Policy</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/coming-soon" class="nav-link" routerLinkActive="active">Coming Soon</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Listing <i class='bx bx-plus'></i></a>

                            <ul class="dropdown-menu">
                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/listing" class="nav-link" routerLinkActive="active">Listing</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/listing-details" class="nav-link" routerLinkActive="active">Listing Details</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Blog <i class='bx bx-plus'></i></a>

                            <ul class="dropdown-menu">
                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/blog" class="nav-link" routerLinkActive="active">Blog</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a routerLink="/blog-details" class="nav-link" routerLinkActive="active">Blog Details</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
                    </ul>

                    <div class="side-nav d-in-line align-items-center">
                        <div class="side-item">
                            <div class="cart-btn">
                                <a routerLink="/cart">
                                    <i class="flaticon-shopping-bags"></i>
                                    <span>0</span>
                                </a>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="nav-add-btn">
                                <a routerLink="/" class="default-btn border-radius">Add Listing <i class='bx bx-plus'></i></a>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="search-box">
                                <i class="flaticon-loupe"></i>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="user-btn">
                                <a routerLink="/"><i class="flaticon-contact"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="side-nav-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            
            <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center  align-items-center">
                        <div class="side-item">
                            <div class="cart-btn">
                                <a routerLink="/cart">
                                    <i class="flaticon-shopping-bags"></i>
                                    <span>0</span>
                                </a>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="search-box">
                                <i class="flaticon-loupe"></i>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="user-btn">
                                <a routerLink="/"><i class="flaticon-contact"></i></a>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="nav-add-btn">
                                <a routerLink="/" class="default-btn border-radius">Add Listing <i class='bx bx-plus'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-layer"></div>
            <div class="search-layer"></div>
            <div class="search-layer"></div>
            <div class="search-close">
                <span class="search-close-line"></span>
                <span class="search-close-line"></span>
            </div>

            <div class="search-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="submit"><i class="flaticon-loupe"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>