@media only screen and (max-width : 767px){


    /* Counter Area */
    .counter-area {
        position: relative;
        margin-top: 0;
    }
    .counter-bg {
        padding-top: 50px;
        padding-bottom: 20px;
    }


    .single-counter {
        margin-bottom: 30px;
        h3 {
            font-size: 28px;
            margin-bottom: 5px;
        }
    }
    /* Counter Area End */


}
@media only screen and (min-width : 576px) and (max-width : 767px){

}
@media only screen and (min-width : 768px) and (max-width : 991px){

}
@media only screen and (min-width : 992px) and (max-width : 1199px){

}
@media only screen and (min-width : 1550px){

}
@media only screen and (min-width : 1200px){

}
