/*=================================
Team Area
====================================*/
.team-area {
  background-color: #fdf8f5;
}

.team-card {
  background-color: var(--whiteColor);
  box-shadow: 0 0 15px rgba(102, 102, 102, 0.1);
  margin-bottom: 30px;
  transition: 0.7s;

  &:hover {
    transform: translateY(-10px);
  }

  a {
    display: block;

    img {
      max-width: 100%;
      border-radius: 5px 5px 0 0;
    }
  }

  .content {
    padding: 30px 25px;
    position: relative;

    &::before {
      content: '';
      top: 30px;
      left: 0;
      position: absolute;
      height: 45px;
      width: 7px;
      border-radius: 2px;
      background-color: var(--mainColor);
    }

    h3 {
      margin-bottom: 0;
      font-weight: 500;
      color: var(--titleColor);

      a {
        color: var(--titleColor);
        display: block;
      }
    }

    span {
      font-size: 15px;
      font-weight: 500;
      color: var(--titleColor);
    }

    p {
      margin-top: 10px;
    }

    .social-link {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-right: 5px;

        a {
          border-radius: 50px;
          width: 35px;
          height: 35px;
          line-height: 37px;
          text-align: center;
          color: var(--whiteColor);
        }

        &:nth-child(1) a {
          background-color: #3b5998;

          &:hover {
            background-color: var(--mainColor);
            animation: tada 1s linear;
          }
        }

        &:nth-child(2) a {
          background-color: #55acee;

          &:hover {
            background-color: var(--mainColor);
            animation: tada 1s linear;
          }
        }

        &:nth-child(3) a {
          background-color: #3f729b;

          &:hover {
            background-color: var(--mainColor);
            animation: tada 1s linear;
          }
        }

        &:nth-child(4) a {
          background-color: #ff0000;

          &:hover {
            background-color: var(--mainColor);
            animation: tada 1s linear;
          }
        }
      }
    }
  }
}

/*=================================
Team Area End
====================================*/