<div class="navbar-area">
    <div class="mobile-nav">
        <!-- assets/img/logo/logo1.png -->
        <a (click)="routerLink('/')" class="logo"><img src="" alt="Logo"></a>
    </div>
    <div class="main-nav">
        <div class="container-fluid">
            <nav class="container-max navbar navbar-expand-md navbar-light ">
                <!-- assets/img/logo/logo1.png -->
                <a class="navbar-brand" (click)="routerLink('/')"><img src="" alt="Logo"></a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link" (click)="routerLink('/')"  [ngClass]="{'active':url=='/'}" >Home </a>

                            <ul class="dropdown-menu">
                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <!-- <li class="nav-item"><a (click)="routerLink('/" class="nav-link" [ngClass]="{'active':url==''}"  >Home One </a></li> -->
                                somthing here sadfsdafsadfsomthing here sadfsdafsadf
                            </ul>
                        </li>

                        <!-- [routerLinkActiveOptions]="{exact: true}" -->
                        <li class="nav-item"><a  (click)="routerLink('/about')" class="nav-link" [ngClass]="{'active':url=='/about'}"    >About</a></li>

                        <li class="nav-item">
                            <a  class="nav-link" [ngClass]="{'active':

                                  url==  '/team'  ||
                                  url==  '/pricing'   ||
                                  url==  '/category'   ||
                                  url==  '/shop'  ||
                                  url==  '/cart'   ||
                                  url==   '/checkout'  ||
                                  url==   '/faq'  ||
                                  url==   '/testimonials'  ||
                                  url==  '/error'  ||
                                  url==   '/login-register'  ||
                                  url==   '/terms-condition'  ||
                                  url==   '/privacy-policy'  ||
                                  url==  '/coming-soon'  ||
                                  url== '/products-details'

                        }" >Pages </a>

                            <ul class="dropdown-menu">
                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/team')" class="nav-link" [ngClass]="{'active':url=='/team'}"  >Team</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/pricing')" class="nav-link" [ngClass]="{'active':url=='/pricing'}"  >Pricing</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/category')" class="nav-link" [ngClass]="{'active':url=='/category'}"  >Category</a></li>

                                <li class="nav-item">
                                    <a  class="nav-link" [ngClass]="{'active':
                                    url=='/shop'||
                                    url=='/cart'||
                                    url=='/checkout'||
                                        url=='/products-details'

                                    }" >Shop </a>

                                    <ul class="dropdown-menu">
                                        <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                        <li class="nav-item"><a (click)="routerLink('/shop')" class="nav-link {{url=='/shop'?'active':'/shop'}}" >Shop</a></li>

                                        <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                        <li class="nav-item"><a (click)="routerLink('/cart')" class="nav-link" [ngClass]="{'active':url=='/cart'}"  >Cart</a></li>

                                        <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                        <li class="nav-item"><a (click)="routerLink('/checkout')" class="nav-link" [ngClass]="{'active':url=='/checkout'}"  >Checkout</a></li>

                                        <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                        <li class="nav-item"><a (click)="routerLink('/products-details')" class="nav-link" [ngClass]="{'active':url=='/products-details'}"  >Products Details</a></li>
                                    </ul>
                                </li>
                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/faq')" class="nav-link" [ngClass]="{'active':url=='/faq'}"  >FAQ</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/testimonials')" class="nav-link" [ngClass]="{'active':url=='/testimonials'}"  >Testimonials</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/error')" class="nav-link" [ngClass]="{'active':url=='/error'}"  >404 Error</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/login-register')" class="nav-link" [ngClass]="{'active':url=='/login-register'}"  >Login/Register</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/terms-condition')" class="nav-link" [ngClass]="{'active':url=='/terms-condition'}"  >Terms & Conditions</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/privacy-policy')" class="nav-link" [ngClass]="{'active':url=='/privacy-policy'}"  >Privacy Policy</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/coming-soon')" class="nav-link" [ngClass]="{'active':url=='/coming-soon'}"  >Coming Soon</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a  class="nav-link" [ngClass]="{'active':url=='/listing'||url=='/listing-details'}" >Listing </a>

                            <ul class="dropdown-menu">
                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/listing')" class="nav-link" [ngClass]="{'active':url=='/listing'}"  >Listing</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a (click)="routerLink('/listing-details')"  class="nav-link "  [ngClass]="{'active':url=='/listing-details'}">Listing Details</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a  class="nav-link" [ngClass]="{'active':url=='/blog'||url=='blog-details'}" >Blog </a>

                            <ul class="dropdown-menu">
                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a class="nav-link" [ngClass]="{'active':url=='/blog'}"    (click)="routerLink('/blog')" >Blog</a></li>

                                <!-- [routerLinkActiveOptions]="{exact: true}" -->
                                <li class="nav-item"><a  class="nav-link" [ngClass]="{'active':url=='blog-details'}"   (click)="routerLink('blog-details')">Blog Details</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a (click)="routerLink('/contact')" class="nav-link" [ngClass]="{'active':url=='/contact'}" >Contact</a></li>
                    </ul>

                    <div class="side-nav d-in-line align-items-center">
                        <div class="side-item">
                            <div class="cart-btn">
                                <a (click)="routerLink('/cart')">
                                    <!-- <i class="flaticon-shopping-bags"></i> -->
                                    <!-- <span>0</span> -->
                                </a>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="nav-add-btn">
                                <a (click)="routerLink('/')" class="default-btn border-radius">Add Listing </a>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="search-box">
                                <i class="flaticon-loupe"></i>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="user-btn">
                                <a (click)="routerLink('/')"><i class="flaticon-contact"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="side-nav-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="circle-inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="side-nav-inner">
                    <div class="side-nav justify-content-center  align-items-center">
                        <div class="side-item">
                            <div class="cart-btn">
                                <a (click)="routerLink('/cart')">
                                    <i class="flaticon-shopping-bags"></i>
                                    <span>0</span>
                                </a>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="search-box">
                                <i class="flaticon-loupe"></i>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="user-btn">
                                <a (click)="routerLink('/')"><i class="flaticon-contact"></i></a>
                            </div>
                        </div>

                        <div class="side-item">
                            <div class="nav-add-btn">
                                <a (click)="routerLink('/')" class="default-btn border-radius">Add Listing </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-layer"></div>
            <div class="search-layer"></div>
            <div class="search-layer"></div>
            <div class="search-close">
                <span class="search-close-line"></span>
                <span class="search-close-line"></span>
            </div>

            <div class="search-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="submit"><i class="flaticon-loupe"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>











