
@use '../../../../../assets/scss/navigation';



/*=================================
Blog Area End
====================================*/
.blog-card {
  margin-bottom: 30px;

  a {
    display: block;

    img {
      max-width: 100%;
    }
  }

  .content {
    padding: 30px;
    border: 1px dashed var(--optionalColor);

    span {
      font-size: 14px;
      font-weight: 500;

      a {
        display: inline-block;
        color: var(--mainColor);

        &:hover {
          color: var(--titleColor)
        }
      }
    }

    h3 {
      margin-top: 10px;

      a {
        color: var(--titleColor);
      }
    }

    .read-more {
      font-size: 15px;
      color: var(--mainColor);
      font-weight: 500;
      text-decoration: underline;

      &:hover {
        color: var(--titleColor);
      }
    }
  }
}


.blog-widget {
  margin-bottom: 35px;
  background-color: var(--whiteColor);
  box-shadow: 0 0 15px rgba(102, 102, 102, 0.1);

  .title {
    font-size: 20px;
    color: var(--titleColor);
    border-bottom: 1px solid #ededed;
    padding: 15px 30px;
    font-weight: 400;
  }

  .search-widget {
    padding: 20px 30px 30px;

    .search-form {
      position: relative;

      .form-control {
        height: 50px;
        border: 1px solid #ededed;
        background-color: #f4f4f4;
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
        padding: 10px 20px;
        width: 100%;
        border-radius: 0;

        &:focus {
          border-color: var(--optionalColor);
        }
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 50px;
        background-color: var(--mainColor);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        border: none;
        outline: none;

        i {
          color: var(--whiteColor);
        }

        &:hover {
          background-color: var(--titleColor);
        }
      }
    }
  }

  .widget-popular-post {
    position: relative;
    overflow: hidden;
    padding: 20px 30px 30px;

    .item {
      overflow: hidden;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #efefef;

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
      }

      .thumb {
        float: left;
        overflow: hidden;
        position: relative;
        margin-right: 15px;

        .full-image {
          width: 75px;
          height: 105px;
          display: inline-block;
          background-size: cover !important;
          background-repeat: no-repeat;
          background-position: center center !important;
          position: relative;
          background-color: var(--titleColor);

          &.bg1 {
            // background-image: url(assets/img/blog/blog-post1.png);
          }

          &.bg2 {
            // background-image: url(assets/img/blog/blog-post2.png);
          }

          &.bg3 {
            // background-image: url(assets/img/blog/blog-post3.png);
          }

        }
      }

      .info {
        overflow: hidden;

        span {
          display: block;
          color: var(--mainColor);
          text-transform: uppercase;
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 500;
        }

        .title-text {
          margin-bottom: 0;
          line-height: 1.5;
          font-size: 15px;
          font-weight: 600;

          a {
            display: inline-block;
            color: var(--titleColor);

            &:hover {
              color: var(--titleColor);
            }
          }
        }

        p {
          font-size: 14px;
          margin-bottom: 0;
          max-width: 180px;
        }
      }
    }
  }

  .blog-widget-tag {
    list-style: none;
    margin: 0;
    padding: 10px 20px 30px;

    li {
      display: inline-block;
      padding: 0 5px;
      transition: 0.7s;
      color: #777777;
      font-size: 16px;

      a {
        color: #777777;
      }

      &:hover a {
        color: var(--mainColor);
      }
    }
  }

  .widget_categories {
    padding: 20px 30px;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 600;
        border-bottom: 1px solid #ededed;

        a {
          display: block;
          color: var(--paragraphColor);
          font-weight: normal;

          span {
            float: right;
            font-size: 13px;
            color: var(--mainColor);
            font-weight: 600;
          }

          &:hover {
            color: var(--mainColor);
          }
        }
      }
    }
  }

  .widget-post-into {
    padding: 20px 30px 30px;

    .blog-widget-post {
      span {
        color: var(--mainColor);
        font-size: 14px;
        font-weight: 600;
      }

      a {
        display: block;

        h3 {
          font-size: 16px;
          color: #777777;
          position: relative;
          margin-left: 40px;
          margin-top: 10px;
          max-width: 280px;
          font-weight: 500;

          &::before {
            content: '';
            position: absolute;
            left: -35px;
            width: 30px;
            height: 1px;
            top: 15px;
            background-color: #777777;
          }
        }
      }
    }
  }
}

.blog-widget-profile {
  padding: 30px;
  background-color: var(--whiteColor);
  box-shadow: 0 0 15px rgba(102, 102, 102, 0.1);
  text-align: center;
  margin-bottom: 35px;

  .images {
    background-color: #fff6f2;
    padding: 15px 30px;
    border: 1px dashed var(--mainColor);
  }

  .content {
    border-bottom: 1px solid #ededed;
    padding-bottom: 15px;

    h3 {
      font-size: 16px;
      color: var(--titleColor);
      font-weight: 500;
      margin-top: 30px;
      margin-bottom: 7px;
    }

    span {
      font-size: 14px;
      color: var(--mainColor);
    }
  }

  p {
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
  }

  .social-link {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: 0;

    li {
      display: inline-block;
      margin-right: 5px;

      a {
        border-radius: 50px;
        width: 35px;
        height: 35px;
        line-height: 37px;
        text-align: center;
        color: var(--whiteColor);
      }

      &:nth-child(1) a {
        background-color: #3b5998;

        &:hover {
          background-color: var(--mainColor);
          animation: tada 1s linear;
        }
      }

      &:nth-child(2) a {
        background-color: #55acee;

        &:hover {
          background-color: var(--mainColor);
          animation: tada 1s linear;
        }
      }

      &:nth-child(3) a {
        background-color: #3f729b;

        &:hover {
          background-color: var(--mainColor);
          animation: tada 1s linear;
        }
      }

      &:nth-child(4) a {
        background-color: #ff0000;

        &:hover {
          background-color: var(--mainColor);
          animation: tada 1s linear;
        }
      }

      &:nth-child(5) a {
        background-color: #c80000;

        &:hover {
          background-color: var(--mainColor);
          animation: tada 1s linear;
        }
      }
    }
  }
}

/*=================================
Blog Area End
====================================*/
