@media only screen and (max-width : 767px){

}
@media only screen and (min-width : 576px) and (max-width : 767px){

}
@media only screen and (min-width : 768px) and (max-width : 991px){

}
@media only screen and (min-width : 992px) and (max-width : 1199px){

}
@media only screen and (min-width : 1550px){

}
@media only screen and (min-width : 1200px){

}
