@media only screen and (max-width : 767px) {
    /* Default CSS */
    body {
        font-size: 14px;
    }
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .ptb-70 {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .pt-45 {
        padding-top: 30px;
    }
    .mb-45 {
        margin-bottom: 25px;
    }
    .default-btn {
        padding: 10px 25px;
        &.active {
            margin-left: 10px;
        }
    }
    .section-title {
        span {
            font-size: 12px;
        }
        h2 {
            font-size: 24px;
        }
        p {
            padding-top: 10px;
        }
    }
    /* Default CSS End */

}


// @media only screen and (min-width : 768px) and (max-width : 991px) {
//     /* Default CSS */
//     body {
//         font-size: 14px;
//     }
//     .ptb-100 {
//         padding-top: 50px;
//         padding-bottom: 50px;
//     }
//     .pt-100 {
//         padding-top: 50px;
//     }
//     .ptb-70 {
//         padding-top: 50px;
//         padding-bottom: 20px;
//     }
//     .pb-70 {
//         padding-bottom: 20px;
//     }
//     .pt-45 {
//         padding-top: 30px;
//     }
//     .mb-45 {
//         margin-bottom: 25px;
//     }
//     .default-btn {
//         padding: 10px 25px;
//         &.active {
//             margin-left: 10px;
//         }
//     }
//     .section-title {
//         span {
//             font-size: 12px;
//         }
//         h2 {
//             font-size: 24px;
//         }
//         p {
//             padding-top: 10px;
//         }
//     }
//     /* Default CSS End */


//     /* Main Banner CSS */
//     .slider-item {
//         .slider-content {
//             h1 {
//                 font-size: 36px;
//             }
//         }
//     }
//     .slider-area {

//     }

//     /* Main Banner CSS End */

//     /* Inner Banner CSS */
//     .inner-banner {
//         .inner-title {
//             padding-top: 140px;
//             padding-bottom: 90px;
//             h3 {
//                 font-size: 26px;
//             }
//             ul {
//                 li {
//                     font-size: 16px;
//                 }
//             }
//         }
//         .inner-banner-title {
//             padding-top: 145px;
//             padding-bottom: 50px;
//             h3 {
//                 font-size: 30px;
//             }
//         }
//     }

//     .inner-content {
//         padding-top: 170px;
//     }
//     .inner-banner-text {
//         padding-bottom: 15px;
//         h3 {
//             font-size: 32px;
//         }
//     }

//     .banner-list {
//         margin-bottom: 45px;
//     }
//     /* Inner Banner CSS End */

//     /* Banner Form CSS */
//     .form-list {
//         margin-bottom: 30px;
//         ul {
//             li {
//                  margin: 0px 3px;
//                 a {
//                     i {
//                         font-size: 16px;
//                         margin-right: 0;
//                     }
//                 }
//             }
//         }
//     }
//     .banner-form {
//         padding: 30px 15px;
//         &.border-radius {
//             border-radius: 0 !important;
//         }
//         .form-group {
//              margin-bottom: 15px;
//             i {
//                 left: 15px;
//             }
//             .form-control {
//                 border-right: none;
//                 border-bottom: 1px solid #eeeeee;
//                 padding: 10px 20px 10px 45px;
//             }
//         }
//          .default-btn {
//             margin-top: 20px;
//            width: 300px;
//         }
//     }
//     /* Banner Form CSS End */
//     .about-list {
//         margin-top: 20px;
//         margin-bottom: 20px;
//         ul {
//             li {
//                font-size: 15px;
//             }
//         }
//     }

//     .pricing-area {
//         padding-top: 50px;
//     }
//     .price-card {
//         .content {
//             i {
//                 font-size: 40px;
//                 width: 75px;
//                 height: 75px;
//                 line-height: 80px;
//             }
//             h3 {
//                 font-size: 18px;
//             }
//             h2 {
//                 font-size: 38px;
//                 sup {
//                     font-size: 28px;
//                 }
//             }
//         }
//     }



//     /* Place Listing Details Area */
//     .gallery-slider-area {

//     }
//     .listing-comment {
//         margin-top: 0px;
//         padding-top: 0px;
//     }
//     .listing-Booking-form {
//         .add-counter {
//             h3 {
//                 padding-right: 100px;
//             }
//         }
//     }
//     .side-host-list {
//         li {
//             span {
//                 right: -430px;
//             }
//         }
//     }
//     /* Place Listing Details Area End */

//     /* City Area */
//     .city-area {
//         padding-bottom: 45px;
//         .mt-3, .my-3 {
//             margin-top: 0 !important;
//         }
//     }
//     .city-item {
//         .city-location {
//             font-size: 26px;
//         }
//     }
//     .city-btn {
//         float: none;
//     }
//     /* City Area End */

//     /* Video Area */
//     .video-area {
//         margin-bottom: 50px;
//     }
//     .video-content {
//         padding-top: 70px;
//         padding-bottom: 70px;
//         h2 {
//             font-size: 25px;
//         }
//         .play-btn {
//             margin-top: 30px;
//             width: 60px;
//             height: 60px;
//             line-height: 60px;
//             border-radius: 50px;
//             font-size: 26px;
//             background-color: var(--mainColor);
//             color: var(--whiteColor);
//             position: relative;
//         }
//     }


//     /* Video Area End */

//     /* Counter Area */
//     .counter-area {
//         position: relative;
//         margin-top: 0;
//     }
//     .counter-bg {
//         padding-top: 50px;
//         padding-bottom: 20px;
//     }

//     .single-counter {
//         margin-bottom: 30px;
//         h3 {
//             font-size: 24px;
//             margin-bottom: 5px;
//         }
//     }
//     /* Counter Area End */


//     .testimonial-area {
//         padding-top: 50px;
//     }
//     .client-area {
//         margin-bottom: 50px;

//     }
//     .client-img {
//         img {
//             width: auto !important;
//             margin-left: auto;
//             margin-right: auto;
//         }
//     }
//     .client-bg {
//         position: relative;
//         width: 100%;
//         margin-bottom: 0;
//         padding-top: 35px;
//         padding-bottom: 80px;
//         background-color: #f9f9f9;
//         &::before {
//             display: none;
//         }
//     }
//     .client-content {
//         margin-top: 30px;
//         text-align: center;
//         p {
//             margin-top: 10px;
//             font-size: 15px;
//             margin-left: auto;
//             margin-right: auto;
//         }
//     }
//     .footer-top {
//         padding-top: 35px;
//         padding-bottom: 50px;
//     }
//     .newsletter-title {
//         margin-bottom: 20px;
//         i {
//             font-size: 40px;
//             display: block;
//         }
//         h2 {
//             font-size: 24px;
//             margin-left: auto;
//             margin-left: auto;
//             display: block;
//         }
//     }
//     .newsletter-form {
//         max-width: 100%;
//     }
//     .footer-widget {
//         h3 {
//             margin-top: 0;
//         }
//     }
//     .footer-widget.pl-5, .footer-widget.px-5 {
//         padding-left: 0 !important;
//     }
//     .copy-right-text {
//         p {
//             padding: 0;
//             margin: 0;
//             font-size: 13px;
//             color: #a6a6a6;
//         }
//     }
//     .copy-right-list {
//         ul {
//             li {
//                 display: inline-block;
//                 margin-right: 5px;
//                 a {
//                     font-size: 12px;
//                 }
//             }
//         }
//     }

//     /* Contact Area End */
//     .contact-area {
//         padding-top: 34px;
//         padding-bottom: 20px;
//     }
//     .contact-card {
//         text-align: center;
//         padding: 0 20px;
//         &::before {
//             display: none;
//         }
//     }
//     .contact-form {
//         padding: 40px 20px;
//     }
//     .contact-wrap {
//         top: 55px;
//         left: 0;
//         right: 0;
//         .contact-form {
//             width: 90%;
//         }
//     }
//     .contact-map {
//         iframe {
//             display: block;
//             width: 100%;
//             height: 690px;
//         }
//     }
//     /* Contact Area End */

//     .user-section {
//         .user-content {
//             margin-top: 50px;
//         }
//     }

//     /* Error Area */
//     .error-area {
//         .error-content {
//             max-width: 90%;
//             margin-left: auto;
//             margin-right: auto;
//             padding: 30px 15px;
//             img {
//                 margin-bottom: 50px;
//                 max-width: 110px;
//             }
//             h1 {
//                 font-size: 120px;
//             }
//             h3 {
//                 margin: 40px 0 0;
//                 font-size: 24px;
//             }
//             p {
//                 font-size: 15px;
//                 margin-top: 10px;
//                 padding: 0 15px;
//             }
//         }
//     }
//     /* Error Area End */

//     /* Coming Soon */
//     .coming-soon-area {
//         .coming-soon-content {
//             padding-top: 30px;
//             padding-bottom: 20px;
//             padding-left: 15px;
//             padding-right: 15px;
//             img {
//                 max-width: 110px;
//                 margin-bottom: 20px;
//             }
//             h1 {
//                 font-size: 35px;
//                 line-height: 1.1;
//                 margin-top: 0;
//             }
//             p {
//                 font-size: 14px;
//                 margin-top: 15px;
//             }
//             #timer {
//                 margin-top: 10px;
//                 div {
//                     font-size: 35px;
//                     margin-left: 15px;
//                     margin-right: 15px;
//                     span {
//                         font-size: 14px;
//                         margin-top: -5px;
//                     }
//                     &::before {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
//     /* Coming Soon End */
// }

// @media only screen and (min-width : 992px) and (max-width : 1199px) {
//     .main-nav {
//         nav {
//             .navbar-nav {
//                 .nav-item {
//                     a {
//                         margin-left: 8px;
//                         margin-right: 8px;
//                     }
//                 }
//             }
//             .side-nav {
//                 padding: 10px 0 3px;
//                 margin-left: 10px;
//                 .side-item {
//                     padding-left: 10px;
//                 }
//             }
//         }
//     }
//     .banner-form {
//         .col-lg-2 {
//             padding-left: 0 !important;
//         }
//     }



//     .listing-section-right {
//         .facilities-list {
//             padding: 0 30px 15px;
//             ul {
//                 li {
//                     display: block;
//                     margin-right: 10px;
//                 }
//             }
//         }

//     }

//     .place-card {
//         .status-tag {
//             padding: 7px 14px 7px 20px;
//         }
//     }
//     .process-line-2 {
//         img {
//             max-width: 780px;
//         }
//     }

//     .listing-Booking-form {
//         .form-input-counter {
//             right: -15px;
//         }
//     }
//     .listing-widget-list {
//         li {
//             margin: 7px 10px;
//         }
//     }
//     .side-host-list {
//         li {
//             span {
//                 color: var(--mainColor);
//                 top: 0px;
//                 right: -35px;
//                 position: relative;
//             }
//         }
//     }
//     .listing-contact-title {
//         padding-left: 20px;
//     }
//     .listing-widget-post {
//         list-style: none;
//         margin: 0 15px;
//         padding: 0;
//         li {
//             .content {
//                 h4 {
//                     font-size: 16px;
//                 }
//                 p {
//                     font-size: 14px;
//                     max-width: 160px;
//                     color: var(--paragraphColor);
//                 }
//             }
//         }
//     }


//     .process-item {
//         .number1 {
//             left: 105px;
//             top: -65px;
//         }
//         .number2 {
//             left: 105px;
//             top: -60px;
//         }
//         .number3 {
//             left: 125px;
//             top: -75px;
//         }
//         .process-item-number {
//             font-size: 30px;
//         }
//     }
//     .client-content {
//         margin-top: 20px;
//     }
//     .client-area {

//     }
//     .application-img-two {
//         img {
//             margin-left: 0;
//         }
//     }

//     .footer-widget {
//         .social-link {
//             li {
//                 a {
//                     width: 30px;
//                     height: 30px;
//                     line-height: 30px;
//                 }
//             }
//         }
//         .footer-news {
//             li {
//                 .content {
//                     top: 25px;
//                     h4 {
//                         font-size: 12px;
//                     }
//                     span {
//                         font-size: 14px;
//                         max-width: 190px;
//                     }
//                 }
//             }
//         }
//     }
//     .footer-widget.pl-5, .footer-widget.px-5 {
//         padding-left: 15px !important;
//     }
//     .copy-right-list {
//         ul {
//             li {
//                 margin-right: 10px;
//             }
//         }
//     }
//     .contact-card {
//         padding: 0px 10px;
//     }
//     .user-section {
//         .user-all-form {
//             .contact-form {
//                 padding: 35px 5px !important;
//                 .social-option {
//                     ul {
//                         li {
//                             a {
//                                 width: 115px;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media only screen and (min-width : 1550px) {

//     .slider-item {
//         .slider-content {
//             padding-top: 325px;
//             padding-bottom: 300px;
//         }
//     }

//     .testimonial-item {
//         p {
//             max-width: 490px;
//         }
//     }



// }

@media only screen and (min-width : 1200px) {

    .container-max {
        max-width: 1300px !important;
        margin: 0 auto;
    }
    .container {
        max-width: 1170px !important;
        margin: 0 auto;
    }
    .banner-max {
        max-width: 1140px;
    }
    .contact-max {
        max-width: 1090px;
        margin: 0 auto;
    }
    .process-into {
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
    }

}


