
// #region  Default CSS
/*================================================
Default CSS
=================================================*/

:root {
    --fontFamily: 'Poppins', sans-serif;
    --mainColor: #5691e9;
    --paragraphColor: #8c8c8c;
    --whiteColor: #ffffff;
    --titleColor: #2a2a2a;
    --optionalColor: #ffc0a7;
    --fontSize: 16px;
    --transition: .5s;
}

body {
    padding: 0;
    margin: 0;
    font: {
        size: var(--fontSize);
        family: var(--fontFamily);
    };
}
p {
    color: var(--paragraphColor);
}
a {
    display: inline-block;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
    }
}
button {
    margin: 0;
    padding: 0;
    outline: 0;
    border-radius: .5rem;
    &:focus {
        outline: 0 ;
        border: 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--titleColor);
    line-height: 1.4;
}
h3 {
    font-size: 20px;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}

img {
    max-width: 100%;
}
.border-radius {
    border-radius: 50px;
}
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.ptb-700 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pt-45 {
    padding-top: 45px;
}
.mb-45 {
    margin-bottom: 45px;
}
.bg-dark-orange {
    background-color: var(--mainColor);
}
.bg-color-blue {
    background-color: #2d5eff;
}
.bg-color-heliotrope {
    background-color: #cf3cff;
}
.bg-color-green {
    background-color: #028311;
}
.text-color-white {
    color: var(--whiteColor) !important;
}
.margin-auto {
    margin: 0 auto;
}
/*================================
Default Btn Style
===================================*/

.default-btn {
    padding: 12px 27px;
    color: var(--whiteColor);
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-transform: capitalize;
    background-color: var(--mainColor);
    border: none;
    outline: none;
    i {
        margin-left: 5px;
    }
    &::before {
        content: "";
        position: absolute;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--titleColor);
        z-index: -1;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
      }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: var(--titleColor);
        z-index: -1;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    &:hover {
        color: var(--whiteColor);
        border: none;
    }
    &:hover::before {
        left: auto;
        right: 0;
        width: 50%;
     }

    &:hover::after {
        left: 0;
        right: 0;
        width: 50%;
    }
}
/*================================
Default Btn Style End
===================================*/


/*================================
Section Title Style
===================================*/

.section-title {
    span {
        color: var(--mainColor);
        line-height: 0;
        font-size: 16px;
        text-transform: capitalize;
        margin: 0;
        padding-bottom: 5px;
        font-weight: 600;
    }
    h2 {
        font-size: 38px;
        font-weight: 500;
        margin-top: 5px;
        line-height: 1.5;
        b {
            font-weight: 300;
        }
    }
    p {
        padding-top: 10px;
        margin-bottom: 0;
    }
}

/*================================
Section Title Style End
===================================*/
// #endregion









/*=================================
Inner Banner
====================================*/
.inner-banner {
    position: relative;
    background-position: center center;
    background-size: cover;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        right: 0;
        background-color: #000000;
        opacity: 0.7;
    }
    .inner-title {
        padding-top: 250px;
        padding-bottom: 200px;
        position: relative;
        h3 {
            font-size: 30px;
            color: var(--whiteColor);
            font-weight: 700;
            text-transform: capitalize;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                font-size: 18px;
                color: var(--whiteColor);
                display: inline-block;
                margin-right: 5px;
                text-transform: capitalize;
                &:last-child {
                    margin-right: 0;
                }
                i {
                    font-size: 26px;
                    color: var(--whiteColor);
                    position: relative;
                    top: 4px;
                }
                a {
                    color: var(--whiteColor);
                    &:hover {
                        color: var(--mainColor);
                    }
                }
            }
        }
        p {
            color: var(--whiteColor);
            margin-bottom: 0;
        }
    }
    .inner-banner-title {
        padding-top: 250px;
        padding-bottom: 160px;
        position: relative;
        h3 {
            font-size: 50px;
            color: var(--whiteColor);
            font-weight: 700;
            text-transform: capitalize;
        }
        p {
            color: var(--whiteColor);
            margin-bottom: 0;
        }
    }
}
.inner-content {
    padding-top: 250px;
}
.inner-banner-text {
    padding-bottom: 37px;
    h3 {
        font-size: 50px;
        color: var(--whiteColor);
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            font-size: 16px;
            color: var(--whiteColor);
            margin-right: 25px;
            &:hover {
                color: var(--mainColor);
            }
            &:hover a {
                color: var(--mainColor);
            }
            &:hover i {
                color: var(--whiteColor);
            }
            i {
                color: var(--mainColor);
                margin-right: 5px;
            }
            a {
                color: var(--whiteColor);
                font-weight: 400;
            }
        }
    }
}


.banner-bottom {
    padding-top: 35px;
    border-top: 1px solid #ffffff9e;
    padding-bottom: 10px;
}
.banner-tag {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 15px;
            a {
                padding: 7px 18px;
                border-radius: 50px;
                background-color: rgba(255, 255, 255, 0.2);
                border: 1px dashed #ffffff47;
                color: var(--whiteColor);
            }
        }
    }
}
.banner-profile {
    float: right;
    img {
        display: inline-block;
        margin-right: 10px;
        width: 35px !important;
    }
    h3 {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: var(--whiteColor);
    }
    .banner-status {
        margin-left: 25px;
        display: inline-block;
        background-color: var(--mainColor);
        padding: 7px 25px 7px 25px;
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 13% 50%, 0% 0%);
        a {
            display: block;
            h3 {
                font-size: 15px;
                color: var(--whiteColor);
                font-weight: 500;
                margin-bottom: 0;
            }
        }
    }
}
.banner-list {
    background-color: var(--whiteColor);
    padding: 25px 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
    bottom: -40px;
    border-radius: 10px;
    margin-bottom: 40px;
    .list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            font-size: 16px;
            color: #8c8c8c;
            display: inline-block;
            margin-right: 5px;
            text-transform: capitalize;
            &:last-child {
                margin-right: 0;
            }
            i {
                font-size: 20px;
                color: #8c8c8c;
                position: relative;
                top: 4px;
            }
            a {
                color: #8c8c8c;
                &:hover {
                    color: var(--mainColor);
                }
            }
            &.active {
                color: var(--mainColor);
            }
        }
    }
    .social-link {
        float: right;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            margin-right: 5px;
            a {
                border-radius: 50px;
                width: 35px;
                height: 35px;
                line-height: 37px;
                text-align: center;
                color: var(--whiteColor);
            }
            &:nth-child(1) a {
                background-color: #3b5998;
                &:hover {
                    background-color: var(--mainColor);
                    animation: tada 1s linear;
                }
            }
            &:nth-child(2) a {
                background-color: #55acee;
                &:hover {
                    background-color: var(--mainColor);
                    animation: tada 1s linear;
                }
            }
            &:nth-child(3) a {
                background-color: #3f729b;
                &:hover {
                    background-color: var(--mainColor);
                    animation: tada 1s linear;
                }
            }
            &:nth-child(4) a {
                background-color: #ff0000;
                &:hover {
                    background-color: var(--mainColor);
                    animation: tada 1s linear;
                }
            }
            &:nth-child(5) a {
                background-color: #c80000;
                &:hover {
                    background-color: var(--mainColor);
                    animation: tada 1s linear;
                }
            }
        }
    }
    p {
        float: right;
        position: relative;
        top: 7px;
        a {
            color: var(--mainColor);
            &:hover {
                color: var(--titleColor);
            }
        }
    }
}
.inner-bg1 {
    // background-image: url(assets/img/inner-banner/inner-banner1.jpg);
}
.inner-bg2 {
    // background-image: url(assets/img/inner-banner/inner-banner2.jpg);
}
.inner-bg3 {
    // background-image: url(assets/img/inner-banner/inner-banner3.jpg);
}
.inner-bg4 {
    // background-image: url(assets/img/inner-banner/inner-banner4.jpg);
}
.inner-bg5 {
    // background-image: url(assets/img/inner-banner/inner-banner5.jpg);
}
.inner-bg6 {
    // background-image: url(assets/img/inner-banner/inner-banner6.jpg);
}

.inner-bg8 {
    // background-image: url(assets/img/inner-banner/inner-banner8.jpg);
}
.inner-bg9 {
    // background-image: url(assets/img/inner-banner/inner-banner9.jpg);
}
.inner-bg10 {
    // background-image: url(assets/img/inner-banner/inner-banner10.jpg);
}
.inner-bg11 {
    // background-image: url(assets/img/inner-banner/inner-banner11.jpg);
}
/*=================================
Inner Banner End
====================================*/

/*==================================
Back To Top Button
=====================================*/
// #toTop {
// 	position: fixed;
// 	bottom: 20px;
// 	right: 20px;
// 	cursor: pointer;
//     display: none;
//     z-index: 99;
// }
// .top-btn {
//     background-color: var(--mainColor);
//     color: var(--whiteColor);
//     width: 45px;
//     height: 45px;
//     border-radius: 50%;
//     box-shadow: 0 0 15px var(--mainColor);
//     font-size: 20px;
//     display: inline-block;
//     text-align: center;
//     line-height: 45px;
//     transition: .9s;
//     &:hover{
//         background: var(--titleColor);
//         box-shadow: 0 0 15px var(--titleColor);
//         color: #fff;
//     }
// }
/*==============================
Back To Top Button
=================================*/

/*==============================
Animation  CSS
=================================*/
@-webkit-keyframes ripple {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    75% {
      -webkit-transform: scale(1.75);
      transform: scale(1.75);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(2);
      transform: scale(2);
      opacity: 0;
    }
}
@keyframes ripple {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    75% {
      -webkit-transform: scale(1.75);
      transform: scale(1.75);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(2);
      transform: scale(2);
      opacity: 0;
    }
}

@-webkit-keyframes rotate-in {
    0% {
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
              transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
              transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
              transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes rotate-in {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
/*==============================
Animation  CSS End
=================================*/
/*==============================
 sould be hrere ==>^6^
=================================*/
.banner-form {
    .form-group {


        .form-control {
            height: 50px;
            padding: 10px 20px 10px 25px;
            border: none;
            border-right: 1px solid #ebebeb;
            color: var(--paragraphColor);
            background-color: var(--whiteColor);



        }

    }

    .nice-select {

        width: 100%;
        line-height: 32px;




        &::after {
            height: 8px;
            width: 8px;

        }
    }
}



.inner-bg {
    // background-image: url('../../../../../assets/img/inner-banner/the_most_beautiful_road_in_the_world_2-wallpaper-1920x540.jpg');
    background-image: url('assets/img/inner-banner/wp10918891.jpg');
}
























































