/*=================================
404 Error Area
===================================*/
.error-area {
  height: 100vh;
  // background-image: url(assets/img/inner-banner/inner-banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.8;
  }

  .error-content {
    max-width: 700px;
    background: var(--whiteColor);
    border-radius: 5px;
    margin: 0 auto;
    padding: 80px 50px 50px;
    text-align: center;
    position: relative;

    img {
      margin-bottom: 70px;
    }

    h1 {
      font-size: 150px;
      line-height: 0.5;
      font-weight: 600;
      color: var(--titleColor);

      span {
        color: var(--mainColor);
      }
    }

    h3 {
      margin: 50px 0 0;
      position: relative;
      color: var(--mainColor);
      font-size: 24px;
    }
    p {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      max-width: 520px;
      margin-left: auto;
      margin-right: auto;
      color: var(--titleColor);
    }
  }
}

/*=================================
404 Error Area End
===================================*/